.mdi {
    font-size: 1.5rem;
}

.dialpad__container {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.dialpad__number {
    margin: 0.5rem;
    padding: 0.6rem 1.8rem;
    flex:1;
    border-radius: 0.2rem;
}

.dialpad__callBtn {
    margin: 1.5rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.output__container {
    min-height: 6rem;
    font-weight: 700;
    display: flex;
    justify-content:space-between;
    overflow: hidden;
}

.output__container > p {
    font-size: 2rem;
    margin-bottom: 0;
    word-break: break-all
}

.output__container > span {
    cursor: pointer;
}

.modal__backdrop { 
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.modal__container{
    background-color: var(--bs-body-bg);
    width: 70%;
    height: 70%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.incoming__actionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.incoming__actionContainer > button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.incoming__actionContainer > button > span{
    font-size: 1rem;
    margin-right: 0.5rem;
}